<div class="stats-row">
  {{#each rollableAttributes as |attr|}}
  <div class="attr attr--{{attr.id}}" id="attr-{{attr.id}}" title="{{localize attr.label}}">
    <span class="frame"></span>
    <img src="{{attr.icon}}" alt="">
    <div class="val">
      <input class="num ability-stat{{#if @root.locked}} ability-roll ability-rollable rollable{{else}} ability-value{{/if}}"
             type="text" name="{{attr.name}}"
             value="{{#if attr.value}}{{numberFormat attr.value decimals=0 sign=true}}{{else}}0{{/if}}"
             data-dtype="Number"
             {{#if @root.locked}}readonly tabindex="-1" data-action="rollable" data-roll="{{attr.rollKey}}" data-label="{{attr.label}}"{{/if}}
             aria-label="{{localize attr.label}}">
    </div>
  </div>
  {{/each}}
</div>
