{{!-- Character sheet: featured augment slot --}}
{{#if augment}}
<section class="sheet-augment sheet-augment--featured">
  <div class="cell cell--augment">
    <div class="sheet-augment__header">
      <div class="sheet-augment__identity">
        <div class="item-avatar item-avatar--large item-avatar--augment">
          <img class="item-icon" src="{{augment.img}}" title="{{augment.name}}" alt="{{augment.name}}"/>
        </div>
        <div class="sheet-augment__titles">
          <h2 class="sheet-augment__name">{{augment.name}}</h2>
          <div class="item-tags">
            {{#if augment.system.rank}}
              <span class="tag">{{localize "PMTTRPG.AugmentRank"}}: {{augment.system.rank}}</span>
            {{/if}}
          </div>
        </div>
      </div>
      <div class="item-controls sheet-augment__controls">
        <a class="item-control item-edit" data-action="itemEdit" title="Edit Item" data-item-id="{{augment._id}}"><i class="fas fa-edit"></i></a>
        <a class="item-control item-delete" data-action="itemDelete" title="Delete Item" data-item-id="{{augment._id}}"><i class="fas fa-trash"></i></a>
      </div>
    </div>

    <div class="sheet-augment__body">
      <div class="description">
        {{{augment.system.descriptionEnriched}}}
      </div>

      {{#if augment.system.effectSummaryGroups.length}}
      <div class="sheet-augment__effects">
        {{#with (lookup augment.system.effectSummaryGroups 0) as |group|}}
          <h3 class="cell__title small-text">{{group.heading}}</h3>
          <div class="sheet-augment__effect-summary">
            {{{group.summaryText}}}
          </div>
        {{/with}}
      </div>
      {{/if}}
    </div>
  </div>
</section>
{{else}}
<section class="sheet-augment sheet-augment--featured sheet-augment--empty">
  <div class="cell cell--augment">
    <div class="sheet-augment__header">
      <div class="sheet-augment__identity">
        <div class="sheet-augment__titles">
          <h2 class="sheet-augment__name">{{localize "PMTTRPG.NoAugments"}}</h2>
        </div>
      </div>
      <div class="item-controls sheet-augment__controls">
        <button type="button" class="item-control item-create" data-action="itemCreate" title='{{localize "PMTTRPG.AddAugment"}}' data-type="augment">
          <i class="fas fa-plus"></i>
        </button>
      </div>
    </div>
  </div>
</section>
{{/if}}
