<button type="button" class="item-dice item-dice--defense rollable" data-action="rollable" data-roll="{{roll}}" data-roll-type="{{rollType}}" data-item-id="{{itemId}}">
  <span class="item-dice__inner item-dice__inner--row">
    <span class="item-dice__label">{{roll}}</span>
    <img class="item-dice__stat-icon" src="{{icon}}" alt="{{iconLabel}}" title="{{iconLabel}}">
  </span>
</button>
