{{!-- Character sheet: Weapons tab (weapons + ammunition) --}}
<div class="tab weapons-attacks {{lookup (lookup tabs "weapons-attacks") "cssClass"}}" data-group="primary" data-tab="weapons-attacks">
  <section class="sheet-tab">

    <section class="sheet-notifications sheet-notifications--weapons">
      {{#if system.isToken}}
      <div class="cell__title warning small-text">{{localize "PMTTRPG.WeaponsNotLinkedWarning"}}</div>
      {{/if}}
    </section>

    <div class="cell cell--weapons">
      <h2 class="cell__title">
        <label>{{localize "PMTTRPG.Weapons"}}</label>
        <div class="item-controls">
          <button type="button" class="item-control item-create" data-action="itemCreate" title='{{localize "PMTTRPG.AddWeapon"}}' data-type="weapon" data-weapon-type="melee">
            <i class="fas fa-plus"></i>
          </button>
        </div>
      </h2>
      <ol class="items-list">
      {{#each allWeapons as |item id|}}
        <li class="item item--weapon" data-item-id="{{item._id}}">
          <div class="item-title-row">
            <h4 class="item-name">{{item.name}}</h4>
            <div class="item-controls">
              <span class="item-control item-sort" draggable="true" role="button" title="Drag to Sort"><i class="fas fa-grip-lines"></i></span>
              <a class="item-control item-equip" data-action="itemEquip" title="Equip Item"><i class="fa-solid fa-shirt"></i></a>
              <a class="item-control item-edit" data-action="itemEdit" title="Edit Item"><i class="fas fa-edit"></i></a>
              <a class="item-control item-delete" data-action="itemDelete" title="Delete Item"><i class="fas fa-trash"></i></a>
              <a class="item-control item-toggle-details" data-action="toggleDetails" title="Show/Hide Details"><i class="fas fa-chevron-down"></i></a>
            </div>
          </div>
          <div class="item-details">
            <div class="item-header">
              <div class="item-avatar item-avatar--large">
                <img class="item-icon" src="{{item.img}}" title="{{item.name}}"/>
              </div>
              {{#if item.system.offensiveDiceComputed}}
                {{#if (lookup ../selects.damageTypes item.system.damageType)}}
                  <div class="item-category item-dice rollable" data-action="rollable" data-roll="{{item.system.offensiveDiceComputed}}">
                    <div class="category-icon" data-damage="{{item.system.damageType}}"></div>
                    <div class="category-label">{{item.system.offensiveDiceComputed}}</div>
                  </div>
                {{/if}}
              {{/if}}
            </div>
            <div class="item-tags">
              {{#if item.system.equipped}}<span class="tag equipped">{{localize "PMTTRPG.Equipped"}}</span>{{/if}}
              {{#if (lookup ../selects.weaponTypes item.system.weaponType)}}
                <span class="tag">{{localize (lookup ../selects.weaponTypes item.system.weaponType)}}</span>
                {{#if (eq item.system.weaponType "melee")}}
                  {{#if (lookup ../selects.formPropertiesMelee item.system.formProperty)}}
                    <span class="tag">{{localize (lookup ../selects.formPropertiesMelee item.system.formProperty)}}</span>
                  {{/if}}
                  {{#if (lookup ../selects.handPropertiesMelee item.system.handProperty)}}
                    <span class="tag">{{localize (lookup ../selects.handPropertiesMelee item.system.handProperty)}}</span>
                  {{/if}}
                {{/if}}
                {{#if (eq item.system.weaponType "ranged")}}
                  {{#if (lookup ../selects.formPropertiesRanged item.system.formProperty)}}
                    <span class="tag">{{localize (lookup ../selects.formPropertiesRanged item.system.formProperty)}}</span>
                  {{/if}}
                  {{#if (lookup ../selects.handPropertiesRanged item.system.handProperty)}}
                    <span class="tag">{{localize (lookup ../selects.handPropertiesRanged item.system.handProperty)}}</span>
                  {{/if}}
                {{/if}}
              {{/if}}
              {{#if item.system.rank}}
                <span class="tag">{{localize "PMTTRPG.WeaponRank"}}: {{item.system.rank}}</span>
              {{/if}}
            </div>
            {{#if item.system.damageTypeFixed}}
              {{#if (lookup ../selects.damageTypes item.system.damageType)}}
              <div class="item-category item-damage">
                <div class="category-icon" data-damage="{{item.system.damageType}}"></div>
                <div class="category-label">{{localize (lookup ../selects.damageTypes item.system.damageType)}}</div>
              </div>
              {{/if}}
            {{/if}}
            <div class="item-description">
              <div class="description">
                {{{item.system.descriptionEnriched}}}
              </div>
            </div>
            {{#if item.system.effectSummaryGroups.length}}
            {{#with (lookup item.system.effectSummaryGroups 0) as |group|}}
              <div class="item-effect-summary">
                <h4 class="cell__title small-text">{{group.heading}}</h4>
                <div class="effect-summary-block">{{{group.summaryText}}}</div>
              </div>
            {{/with}}
            {{/if}}
          </div>
        </li>
      {{/each}}
      </ol>
      <section class="ammo-summary">
        <h3 class="cell__title small-text">
          <span>{{localize "PMTTRPG.Ammunition"}}</span>
          <div class="item-controls">
            <button type="button" class="item-control item-create" data-action="itemCreate" title='{{localize "PMTTRPG.AddAmmunition"}}' data-type="ammunition">
              <i class="fas fa-plus"></i>
            </button>
          </div>
        </h3>
        {{#if ammunition.length}}
          <div class="ammo-summary__list">
            {{#each ammunition as |ammo ammoId|}}
              <div class="item ammo-summary__item" data-item-id="{{ammo._id}}">
                <div class="ammo-summary__info">
                  <img class="ammo-summary__icon" src="{{ammo.img}}" title="{{ammo.name}}" alt="{{ammo.name}}"/>
                  <div class="ammo-summary__meta">
                    <span class="ammo-summary__name">{{ammo.name}}</span>
                    <div class="ammo-summary__tags">
                      {{#if (lookup ../selects.ammoTypes ammo.system.ammoType)}}
                        <span class="tag">{{localize (lookup ../selects.ammoTypes ammo.system.ammoType)}}</span>
                      {{/if}}
                      {{#if (lookup ../selects.damageTypes ammo.system.damageType)}}
                        <span class="tag">{{localize (lookup ../selects.damageTypes ammo.system.damageType)}}</span>
                      {{/if}}
                    </div>
                  </div>
                </div>
                <div class="ammo-summary__controls">
                  <button type="button" class="ammo-control counter--decrease" data-action="counterDecrease" data-counter="quantity" title="-1">
                    <i class="fas fa-minus"></i>
                  </button>
                  <span class="ammo-summary__quantity">{{ammo.system.quantity}}</span>
                  <button type="button" class="ammo-control counter--increase" data-action="counterIncrease" data-counter="quantity" title="+1">
                    <i class="fas fa-plus"></i>
                  </button>
                  <button type="button" class="item-label ammo-summary__toggle" data-action="showItemDetails" title='{{localize "PMTTRPG.Common.Details"}}'>
                    <i class="fas fa-chevron-down"></i>
                  </button>
                </div>
                <div class="item-description ammo-summary__details">
                  <div class="description">
                    {{{ammo.system.descriptionEnriched}}}
                  </div>
                  <div class="item-controls">
                    <a class="item-control item-edit" data-action="itemEdit" title="Edit Item"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-delete" data-action="itemDelete" title="Delete Item"><i class="fas fa-trash"></i></a>
                  </div>
                </div>
              </div>
            {{/each}}
          </div>
        {{else}}
          <div class="ammo-summary__empty">{{localize "PMTTRPG.NoAmmunition"}}</div>
        {{/if}}
      </section>
    </div>

  </section>
</div>
